.sidebar {
    margin: 0;
    padding: 0 1rem;
    width: 14rem;
    background-color: #1f2d1b;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    margin: 1rem;
    cursor: pointer;
  }
  
  /* Mobile View */
  @media (max-width: 768px) {
    .sidebar {
      width: 30px;
    }
  
    .hamburger {
      display: block;
      margin-left: 0;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links.visible {
      display: block;
      background-color: #1f2d1b;
      position: absolute;
      top: 60px;
      left: 0;
      width: 200px;
      z-index: 100;
    }
  }
  