.nav-links ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
  
.nav-links li {
  color: rgba(255, 255, 255, 0.817);
  font-size: 0.9rem;
  padding: 10px 0.4rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-links li:hover {
  background-color: #2e3d2a;
}
  