.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 1rem;
    background: white;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.135);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-tray i{
    color: rgba(0, 0, 0, 0.753);
    padding: 1rem;
    cursor: pointer;
}